body{
  margin:     0px;
  padding:    0px;
}

#spel{
  width:      502px;
  margin:     10px auto 0px auto;
}

#galg{
  border:     1px solid black;
}

#letter{
  font-size:  40pt;
  text-align: center;
  width:      381px;
  height:     70px;
}

#controleer{
  width:      110px;
  height:     76px;
  background-color: #FFF;
  vertical-align: bottom;
}

#controleer, #letter{
  border: 2px solid #000;
  border-radius: 5px;
  outline: none;
}

#letter:focus, #controleer:focus{
  background-color: #ededed;
}

#invoer{
  padding-top: 5px;
  vertical-align: bottom;
}