body{
  margin:  0px;
  padding: 0px;
}

#spel{
  width: 502px;
  margin: 10px auto 0px auto;
}

#galg{
  border: 1px solid black;
}

label{
  font-size: 40pt;
}

#letter{
  font-size: 40pt;
  text-align: center;
  padding: 10px;
  width: 70px;
  height: 70px;
}

#hints{
  font-size: 30pt;
}

button{
  width: 70px;
  height: 70px;
}

#galg{
  width: 500px;
}

#duwer{
  clear: both;
}

#invoer{
  padding: 10px;
  width: 480px;
}