/*Stijl voor de algehele body tag*/
body{
  margin:     0px;
  padding:    0px;
}

/*Stijl voor de wrapper div waarin het spel zit*/
#spel{
  width:      504px;
  margin:     10px auto 0px auto;
}

/*Stijl voor de galg div waarin de galg wordt getekend*/
#galg{
  border:     2px solid black;
  border-radius: 5px;
}

/*Stijl voor het invoerveld onderaan het spel*/
#letter{
  font-size:  40pt;
  text-align: center;
  width:      383px;
  height:     70px;
}

/*Stijl voor de controle knop onderaan het spel*/
#controleer{
  width:      110px;
  height:     76px;
  background-color: #FFF;
  vertical-align: bottom;
}

/*Gedeelde stijl tussen controleer knop en letter invoer*/
#controleer, #letter{
  border: 2px solid #000;
  border-radius: 5px;
  outline: none;
}

#letter:focus, #controleer:focus{
  background-color: #ededed;
}

/*Algemene stijl voor het onderste vlak met invoer & knop */
#invoer{
  padding-top: 5px;
  vertical-align: bottom;
}